<h1>{{title}}</h1>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Oznaka</th>
        <th>Naziv</th>
        <th>Akcije</th>
      </tr>
    </thead>
    <tbody>                        
      <tr *ngFor="let e of elementi">
        <td><button mat-stroked-button (click)="prikaziDetalje(e)">{{e["id"]}}</button></td>
        <td>{{e["oznaka"]}}</td>
        <td>{{e["naziv"]}}</td>
        <td class="d">
          <button  mat-button color="warn" class="del"  (click)="ukloni(e['id'])">Ukloni</button>
          <button  mat-button class="izmena m-2" (click)="izmeni(e)">Izmeni</button>
        </td>
  
      </tr>
    </tbody>
  </table>
  
  <ng-template #praznoPolje>-</ng-template>