<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <button  [routerLink]="['/']" aria-label="Example icon button with a home icon">HOME</button>

  <button  [routerLink]="['/drzave']" type="button"  class="btn btn-outline-primary">Drzava</button>
  <button [routerLink]="['/naseljenaMesta']" type="button"  class="btn btn-light">Naseljena Mesta</button>




  <!-- <button *ngIf="loginService.isLoggedIn()" [routerLink]="['/users']" type="button"  class="btn btn-light">Users</button>
  <button [routerLink]="['/signup']" type="button"  class="btn btn-outline-primary"  id="signuP">Sign up</button>
  <button *ngIf="!loginService.isLoggedIn()" [routerLink]="['/login']" type="button"  class="btn btn-outline-info m-1">Login</button>
  <button *ngIf="loginService.isLoggedIn()" (click)="loginService.logout()" type="button"  class="btn btn-outline-danger m-1">Logout</button> -->

    <!-- <button id='desno' mat-button  mat-raised-button color="primary" [matMenuTriggerFor]="menuPrijava">Prijavi se</button> -->
    <span class="example-spacer"></span>
    <button [routerLink]="['/users']" type="button"  class="btn btn-light">Korisnici</button>
    <button mat-button  [matMenuTriggerFor]="menuPrijava"  class="user mt-2 d-flex align-items-right">
      <img src="./assets/img/user.jpg" alt="user" class="user-image mr-1 p-2" /> </button>	
    <mat-menu #menuPrijava="matMenu">
      <button mat-menu-item  [routerLink]="['/login']">Login</button>
      <button mat-menu-item  [routerLink]="['/register']">Sign in</button>
      <button mat-menu-item style="color: red;" *ngIf="loginService.user" (click)="loginService.logout()" [routerLink]="['/login']">Logout</button>
    </mat-menu>
  
</mat-toolbar>
<router-outlet></router-outlet>

